<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ultra Clean Architecture</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">

    <partial name="_Css" />

</head>

<body>

    <div class="container-fluid">

        <partial name="_Alert" />

        @RenderBody()

    </div>
    
    <partial name="_Js" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
