@{
    ViewBag.Title = "Activation Confirmed";
}

<div class="m-auto my-120 bg-light rounded p-25 width-500 border">

    <h3>Activation Complete</h3>

    <p class="pt-15">
        Your account has been activated. <br />
        You can now sign in with your new password.
    </p>
    <p class="pt-15">
        <a class="underline" href="/login">Click here</a>&nbsp;to login.
    </p>
</div>


