@{
    ViewBag.Title = "Forgot Confirmation";
}

<div class="m-auto my-120 bg-light rounded p-25 width-500 border">

    <h3>Forgot Confirmation</h3>

    <p class="pt-15">
        We've sent you an email on how to reset your password.<br />
        It should arrive shortly.
    </p>
    <p class="">
        <a class="underline" href="/">Click here</a>&nbsp;to go back to the landing page.
    </p>
</div>


