@model Marvin.Web.Areas.Auth.Forgot
@{
    ViewBag.Title = "Forgot Password";
}

<div class="m-auto my-120 bg-light rounded p-25 width-500 border">
    <h3>Forgot Password</h3>

    <p class="pt-15">
        Enter your email and we'll send you instructions<br />
        on how to reset your password.
    </p>

    <form method="post">

        <div class="pt-10">
            <input type="text" asp-for="Email" class="form-control width-300" , placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="pt-15">
            <input type="submit" id="forgot" class="btn btn-sm btn-light" value="Submit" />&nbsp;&nbsp;
            <a id="cancel" class="btn btn-sm btn-light" href="/login">Cancel</a>
        </div>
    </form>

</div>

