@model Marvin.Web.Areas.Auth.Login
@{
    ViewBag.Title = "Login";
}


<div class="container-fluid bg-light d-sm-flex">

    <div class="text-center w-sm-50 height-500">

        <img src="~/img/login.png" class="pt-45 pb-80" />

        <div class="width-lg-350 m-auto p-15 bg-white border rounded">

            <i class="icon-info text-end" style="cursor:pointer;"
               data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
               data-bs-content="Login with:<br>Email: debbie@company.com<br>Password: Secret123!"></i>

            <form method="post" asp-antiforgery="true" class="text-start">

                <input type="hidden" asp-for="ReturnUrl" />

                <div class="py-7">Email</div>
                <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email"></span>


                <div class="pt-15 pb-7">Password</div>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password"></span>

                <div class="d-grid">
                    <input class="btn btn-primary btn-block mt-25" type="submit" value="Log in"
                           onclick="$(this).attr('value', 'Logging in...')" />
                </div>

                <div class="mt-15"><a href="/forgot">Forgot your password?</a></div>
            </form>

        </div>
    </div>
    <div class="ms-auto w-sm-50 text-white p-20" style="height:725px;background:url(/img/login.jpg) no-repeat;">
        <h2>Ultra Clean&trade; Architecture</h2>
    </div>
</div>

@section Scripts
    {
<script>
    $(function () {
        $('#Email').val('debbie@company.com');
        $('#Password').val('Secret123!');
    });
</script>
}