@{
    ViewBag.Title = "Reset Failed";
}

<div class="m-auto my-120 bg-light rounded p-25 width-500 border">

    <h3>Password Reset Failed</h3>

    <p class="pt-15">
        Password reset could not be completed.<br />
        Try again or request a new password reset.<br /><br />
        If the problem persists please contact your administrator.
    </p>
    <p class="pt-10">
        <a class="underline" href="/forgot">Click here</a>&nbsp;to request another password reset code.<br />
        <a class="underline" href="/">Click here</a>&nbsp;to go back to the landing page.
    </p>

</div>
