@model Marvin.Web.Areas.Users.Detail
@{
    ViewBag.Title = "User Detail";
    var title = "Details on " + Model!.Name;
}

<div class="page-box">
    <div class="d-flex">

        <div class="page-box-icon">
            <a href="/admin/users"><i class="@Cache.AdminIcon"></i></a> Admin
        </div>

        <div class="page-box-admin-menu">
            <partial name="_AdminMenu" />
        </div>

        <div class="ms-auto page-box-new-button-top">
            <a class="btn btn-sm btn-light js-edit" href="/admin/users/edit/@Model.Id">Edit</a>
            <a class="btn btn-sm btn-light js-delete" href="/admin/users/delete" data-return-url="/admin/users" data-id="@Model.Id">Delete</a>
        </div>
    </div>
</div>

<div class="edit-title">USER DETAILS</div>

<div class="tab-content">
    <div class="row px-40">

        <div class="col-12 col-md-6">
            <outputField value="Name" label="User Name"></outputField>
            <outputField value="Email"></outputField>
            <outputField value="Alias"></outputField>
            <outputField value="EmployeeNumber" label="Employee #"></outputField>
            <outputField value="Department"></outputField>
            <outputField value="City"></outputField>
            <outputField value="Country"></outputField>
            <outputField value="Role"></outputField>
            <outputField value="LastLoginDate" label="Last Login"></outputField>
        </div>

        <div class="col-12 col-md-6">
            <outputField value="TotalThingsA" label="# Things A"></outputField>
            <outputField value="TotalThingsB" label="# Things B"></outputField>
            <outputField value="TotalThingsC" label="# Things C"></outputField>
            <outputField value="TotalThingsD" label="# Things D"></outputField>
            <outputField value="TotalThingsE" label="# Things E"></outputField>
        </div>

    </div>
</div>

<br />
<br />

