@model Marvin.Web.Areas.Users.Edit
@{
    var title = Model!.Id == 0 ? "New User" : "Edit User";
    ViewBag.Title = title;
}

<div class="page-box">

    <div class="d-flex">
        <div class="page-box-icon">
            <a href="/admin/users"><i class="@Cache.AdminIcon"></i></a> Admin
        </div>
        <div class="page-box-admin-menu">
            <partial name="_AdminMenu" />
        </div>
    </div>

</div>

<div class="edit-title">@title</div>

<form method="post" asp-antiforgery="true">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Referer" />

    <div class="edit-pane">
        <div class="edit-pane-row">

            <div class="col-12 col-md-6">
                <inputTextBox value="FirstName" label="First Name"></inputTextBox>
                <inputTextBox value="LastName" label="Last Name"></inputTextBox>
                <inputTextBox value="Email"></inputTextBox>
                <inputTextBox value="Alias"></inputTextBox>
                <inputTextBox value="EmployeeNumber" label="Employee #"></inputTextBox>
                <inputTextBox value="Department"></inputTextBox>
                <inputTextBox value="City"></inputTextBox>
                <inputTextBox value="Country"></inputTextBox>
                <inputDropDown value="Role" items="@Lookup.UserRoles"></inputDropDown>
            </div>

            <div class="col-12 col-md-6">

            </div>
        </div>


    </div>
    <div class="button-bar">
        <input type="submit" class="btn btn-sm btn-light" value='Save' />&nbsp;&nbsp;
        <a class="btn btn-sm btn-light" href="@Model.Referer">Cancel</a>
    </div>

</form>

<br />
<br />
<br />
<br />




