@if (TempData["Success"] != null)
{
    <div id="alert-success" class="alert alert-success alert-dismissible alert-absolute">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    TempData["Success"] = null;      // prevents redisplay following a non-redirect
}

@if (TempData["Failure"] != null)
{
    <div id="alert-failure" class="alert alert-error alert-dismissible alert-absolute">
        @TempData["Failure"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    TempData["Failure"] = null;      // prevents redisplay following a non-redirect
}
