<footer>
    <div class="container-fluid pl-25">
        <p>Copyright © @(DateTime.Now.Year), Data &amp; Object Factory, LLC. 
        <a href="https://www.dofactory.com">www.dofactory.com</a> - All rights reserved.</p>
    </div>
    
</footer>
