<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Ultra Clean Architecture</title>
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    
    <link rel="icon" href="/favicon.ico">

    <partial name="_Css" />

</head>
<body>
    
    <partial name="_Header" />

    <div class="container-fluid">

        <partial name="_Alert" />

        @RenderBody()

    </div>

    <partial name="_Delete" />

    <partial name="_Footer" />

    <partial name="_Js" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
