@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage your life with the Life Buddy</a>.</p>
</div>