<header class="d-flex">
    <div ><a href="/"><img src="/img/logo.png" class="height-40 mt-10" /></a></div>
    <div class="ms-auto pt-14"><a href="/login" class="btn btn-primary">LOGIN</a></div>
</header>

<div class="height-400" style="background:url(/img/landing.jpg) no-repeat;background-position:center;">
    <div class="pt-140 pl-45 text-white">
        <h3><span class="">Ultra</span> Clean&trade; Architecture</h3>
        <div>Start building better<br />application faster!</div>
    </div>
</div>

<div class="container">
    <div class="row pt-25">

        <div class="col-12 col-md-6 pb-40">
            <div class="p-20">

                <h3> Welcome</h3>

                <p class="pt-25">
                    Ultra Clean&trade; Architecture is a template architecture that allows you to build
                    better ASP.NET Core solutions faster.
                </p>
                <p>
                    Accelerate development with built-in components and 
                    create attractive, comprehensive solutions that your users will love.
                </p>

                <p>
                    This solution manages a number of <i>Thing</i> objects
                    which you replace with <i>Entities</i> from your own problem domain,
                    such as, Invoice, Customer, Product, Supplier, etc. Get started 
                    and build better application faster. 
                </p>

            </div>

        </div>

        <div class="col-12 col-md-6">

            <div class="p-20">

                <h3> Features</h3>
                <br />
                <ul>
                    <li>Attractive UI</li>
                    <li>Sorting</li>
                    <li>Pagination</li>
                    <li>Search</li>
                    <li>Standard and Advanced Filtering</li>
                    <li>Live Aggregate Reporting</li>
                    <li>Excel Import and Export</li>
                    <li>Administrative Console</li>
                    <li>Authentication and Authorization</li>
                    <li>Numerous Cross-Cutting Concerns</li>
                    <li>Minimal Code (Low code)</li>
                    <li>Easy and fast to Design</li>
                    <li>Easy and fast to Develop</li>
                    <li>Easy and fast to Maintain</li>
                </ul>

            </div>
        </div>

    </div>
</div>

