@model Marvin.Web.Areas.Account.Password
@{
    ViewBag.Title = "Change Password";
}

<div class="page-box d-flex">
    <div class="">
        <div class="page-box-icon"><i class="@Cache.AdminIcon"></i> My Account</div>
        <div class="page-box-name">@CurrentUser.FirstName @CurrentUser.LastName</div>
    </div>
</div>

<div class="">
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-5 py-10">

            <form method="post" asp-antiforgery="true">

                <div class="form-group row pb-10">
                    <label for="" class="col-sm-4 col-form-label">&nbsp;</label>
                    <div class="col-sm-8"><h4>Change Password</h4></div>
                </div>

                <inputPassword value="CurrentPassword" label="Current Password"></inputPassword>
                <inputPassword value="NewPassword" label="New Password"></inputPassword>
                <inputPassword value="ConfirmPassword" label="Confirm Password"></inputPassword>

                <div class="form-group row border-top mt-16 pt-8 pb-25">
                    <label class="col-sm-4 col-form-label">&nbsp;</label>
                    <div class="col-sm-8">
                        <button class="btn btn-light" type="submit">Save</button>&nbsp;
                        <a class="btn btn-light" href="/account">Cancel</a>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<br />
<br />
<br />

